<div class="page-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center;">
      <h2 style="letter-spacing: 3px;">DOULA SERVICES</h2>
    </div>
    <div class="white-stamp-underline">
      <div class="white-stamp"></div>
    </div>
    <div class="row" style="display: flex; justify-content: center; margin-top: 5vw;">
      <h2 style="letter-spacing: 3px;">HELPING THOSE WHO WANT TO TAKE A MORE HOLISTIC APPROACH</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="display: flex; justify-content: center; margin-top: 50px;">
    <div class="title">
      <h1 style="letter-spacing: 3px;"><strong>DOULA FAQ</strong></h1>
    </div>
  </div>
  <div class="row" style="display: flex; justify-content: center; margin-top: 50px;">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="landing-card3" style="text-align: center;"></div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <p><strong>My partner, friend, or loved one will be at my birth to support me.  Is a doula still helpful?</strong></p>

      <p>Yes! Doulas work collaboratively with your support team including the care provider, your partner, friends and family. Your partner, friend or family members are all essential in labor support. These are the people who have a long term commitment to you and who know you intimately. A doula will balance this support with professional birth experience, an objective approach to your birth plan, helpful guidance for how these people can better support you, and as an extra set of hands. The doula will also provide valuable support for your partner, friend or family member by ensuring they are rested, fed, involved and informed.</p>

      <p>Studies have compared the efficacy of doula support over that of family and/or nursing staff support. These studies have shown that when a doula is present desirable outcomes are achieved more often, including: shorter labor time, fewer interventions, stronger parent baby bonding, greater breastfeeding success, shorter hospital stays, and higher overall birth satisfaction.</p>


      <p><strong>I am having a midwife attend my birth. Is a doula still relevant?</strong></p>

      <p>Yes! A doula will ensure you receive continuous emotional and physical support during your labor. The midwife’s main responsibility is the health and well-being of you and your baby. A doula can join you at home, hospital or birthing center in labor before your midwife is with you, and will be there continuously to support your non-medical needs. A doula will also help to enhance communication between you and your midwife.</p>
    </div>
  </div>
  <div class="row" style="display: flex; justify-content: center; margin-top: 50px;">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p><strong>What effect does a doula have on labor?</strong></p>

      <p>Studies compared births supported by doulas with births supported by only a loved one, or nursing staff. The births supported by doulas achieved the following outcomes:</p>

      <ul>
        <li style="color: black !important;">Shorter labor time.</li>
        <li style="color: black !important;">Fewer medical interventions (cesarean section, epidural, Pitocin, pain medication, forceps, and vacuum extraction).</li>
        <li style="color: black !important;">Greater breastfeeding success.</li>
        <li style="color: black !important;">Shorter hospital stays.</li>
        <li style="color: black !important;">Greater parent satisfaction in the birth experience.</li>
        <li style="color: black !important;">stronger parent baby bonding.</li>
      </ul>

      <p><strong>Does insurance cover the cost of a doula?</strong></p>

      <p>Maybe. Some plans do cover the cost of a doula. You need to contact your individual plan to verify your benefits. If your plan does, I will provide a receipt with the necessary codes for reimbursement.</p>

      <p><strong>Does a doula make decisions on my behalf?</strong></p>

      <p>No! A doula will never make any decisions on your behalf. A doula helps you to make informed decisions by offering you information, providing referrals to other professionals, and enhancing communication between you and your care provider. A doula will help you to establish and achieve your own personal birth plan.</p>

      <p><strong>I’m planning a home birth. Will a doula still be helpful?</strong></p>

      <p>Yes! A doula will often join you at home before the midwife arrives. All of the comfort measures, reassurance, and support are still effective at home. The biggest difference may be a lesser need for advocacy of the birth plan at a home birth versus a hospital birth.</p>

      <p><strong>I plan to get an epidural. Will a doula still be helpful?</strong></p>

      <p>Yes! A doula will support you in your own informed birth plan. There will still be need for on-going emotional and some physical support. An epidural will numb your sensations, but you will still need to work very hard to give birth. A doula can help you: identify what labor techniques are working, maintain your stamina, enhance communication with the medical staff, and help you once the baby is born.</p>

      <p><strong>I am having a scheduled cesarean birth. Will a doula still be helpful?</strong></p>

      <p>Yes! A doula will provide practical and emotional support before, during and after your procedure. You can still have certain preferences for your birth plan even when having a cesarean birth, and a doula will help you identify and achieve these. A doula can enhance communication with the medical staff, and help you once the baby is born.</p>

      <p><strong>I’m already paying for a midwife or OB. Why should I pay for more labor support, and what am I actually paying for?</strong></p>

      <p>Think of hiring a doula as an investment. We’ve discussed the obstetrical benefits: shorter hospital stays, fewer interventions, medications, surgeries, procedures, etc. So, there is the hard proof of the value. The softer evidence is the parent baby bonding, greater breastfeeding success, higher level of satisfaction, confidence gained from a positive birth experience. These are invaluable assets to new parents and babies. These assets directly translate into health and happiness.</p>

      <p>The cost of your doula is divided over prenatal visits, on-call access to your doula from 38 weeks gestation to birth, continuous labor support, and postpartum visits.</p>

    </div>
  </div>
</div>