<div class="landing-banner">
  <div class="container" style="margin-left: 27vw !important; margin-top: 190px !important; text-align: left !important;">
    <h1>MOVEMENT.</h1>
    <h1>BIRTHING COACH.</h1>
    <h1>EMPOWERED EATING.</h1>
  </div>
</div>
<div class="newsletter">
  <h1>SIGN UP FOR MONTHLY EMAILS!</h1>
  <div class="col-sm-12 col-md-12 col-lg-12" style="display: flex; justify-content: space-around; height: 56px !important; width: 47vw !important;">
    <div class="subscribe">
      <h1>Subscribe</h1>
    </div>
    <input class="form-control form-control-sm" type="text" placeholder="email" style="right: 0 !important; position: absolute !important; width: 33vw !important; height: 100% !important;">
  </div>
</div>
<div class="container" style="text-align: center !important;">
  <div class="banner-quote">
    <p>“Even if no one else believes in you, I want you to know, that I believe in you and I trust you to find your way home. How could it be otherwise? For you are a divines emanations of God.”</p>
  </div>
  <div class="stamp"></div>
</div>
<div class="container">
  <div class="row" style="margin-bottom: 100px !important;">
    <div class="landing-description col-lg-4 col-md-4 col-sm-12">
      <div class="landing-card1" style="text-align: center;"></div>
      <h1>YOGA & FITNESS</h1>
      <p>According to the U.S. Treasury, the motto E pluribus unum was first used on U.S. coinage in 1795, when the reverse of the half-eagle ($5 gold) coin presented the main features of the Great Seal of the United States. E pluribus unum is inscribed on the Great Seal's scroll. The motto was added to certain silver coins in 1798, and soon appeared on all of the coins made out of precious metals (gold and silver).</p>
    </div>
    <div class="landing-description col-lg-4 col-md-4 col-sm-12">
      <div class="landing-card2" style="text-align: center;"></div>
      <h1>HEALTH COACH</h1>
      <p>According to the U.S. Treasury, the motto E pluribus unum was first used on U.S. coinage in 1795, when the reverse of the half-eagle ($5 gold) coin presented the main features of the Great Seal of the United States. E pluribus unum is inscribed on the Great Seal's scroll. The motto was added to certain silver coins in 1798, and soon appeared on all of the coins made out of precious metals (gold and silver).</p>
    </div>
    <div class="landing-description col-lg-4 col-md-4 col-sm-12">
      <div class="landing-card3" style="text-align: center;"></div>
      <h1>DOULA</h1>
      <p>According to the U.S. Treasury, the motto E pluribus unum was first used on U.S. coinage in 1795, when the reverse of the half-eagle ($5 gold) coin presented the main features of the Great Seal of the United States. E pluribus unum is inscribed on the Great Seal's scroll. The motto was added to certain silver coins in 1798, and soon appeared on all of the coins made out of precious metals (gold and silver).</p>
    </div>
  </div>
  <div class="stamp"></div>
  <div class="landing-description">
    <h1>WHAT I'M ABOUT</h1>
  </div>
</div>
<div class="landing-banner">
</div>
<div class="container">
  <div class="row" style="margin-bottom: 100px !important;">
    <div class="landing-description-btn col-lg-12 col-md-12 col-sm-12">
    <button type="button" class="btn btn-primary btn-lg"><h2>LEARN MORE ABOUT ME</h2></button>
    </div>
  </div>
  <div class="stamp"></div>
  <div class="landing-description">
    <h1>TESTIMONIALS</h1>
  </div>
</div>


