<div class="landing-banner">
  <div class="container" style="margin-left: 29vw !important; margin-top: 190px !important; text-align: left !important;">
    <h1>EAT MORE PLANTS,</h1>
    <h1>GIVE MORE LOVE,</h1>
    <h1>BE HERE NOW.</h1>
  </div>
</div>
<div class="newsletter">
  <h1>SIGN UP FOR MONTHLY EMAILS!</h1>
  <div class="col-sm-12 col-md-12 col-lg-12" style="display: flex; justify-content: space-around; height: 56px !important; width: 47vw !important;">
    <div class="subscribe">
      <h1>Subscribe</h1>
    </div>
    <input class="form-control form-control-sm" type="text" placeholder="email" style="right: 0 !important; position: absolute !important; width: 33vw !important; height: 100% !important;">
  </div>
</div>
<div class="container" style="text-align: center !important;">
  <div class="banner-quote">
    <p>“Our deepest fear is not that we are inadequate, but that we are powerful beyond measure.”</p>
  </div>
  <div class="stamp-underline">
    <div class="stamp"></div>
  </div>
</div>
<div class="container">
  <div class="row" style="margin-bottom: 100px !important;">
    <div class="landing-description col-lg-4 col-md-4 col-sm-12">
      <div class="landing-card1" style="text-align: center;"></div>
      <h1>YOGA & FITNESS</h1>
      <p>According to the U.S. Treasury, the motto E pluribus unum was first used on U.S. coinage in 1795, when the reverse of the half-eagle ($5 gold) coin presented the main features of the Great Seal of the United States. E pluribus unum is inscribed on the Great Seal's scroll. The motto was added to certain silver coins in 1798, and soon appeared on all of the coins made out of precious metals (gold and silver).</p>
    </div>
    <div class="landing-description col-lg-4 col-md-4 col-sm-12">
      <div class="landing-card2" style="text-align: center;"></div>
      <h1>HEALTH COACH</h1>
      <p>According to the U.S. Treasury, the motto E pluribus unum was first used on U.S. coinage in 1795, when the reverse of the half-eagle ($5 gold) coin presented the main features of the Great Seal of the United States. E pluribus unum is inscribed on the Great Seal's scroll. The motto was added to certain silver coins in 1798, and soon appeared on all of the coins made out of precious metals (gold and silver).</p>
    </div>
    <div class="landing-description col-lg-4 col-md-4 col-sm-12">
      <div class="landing-card3" style="text-align: center;"></div>
      <h1>BIRTHING DOULA</h1>
      <p>According to the U.S. Treasury, the motto E pluribus unum was first used on U.S. coinage in 1795, when the reverse of the half-eagle ($5 gold) coin presented the main features of the Great Seal of the United States. E pluribus unum is inscribed on the Great Seal's scroll. The motto was added to certain silver coins in 1798, and soon appeared on all of the coins made out of precious metals (gold and silver).</p>
    </div>
  </div>
  <div class="stamp-underline">
    <div class="stamp"></div>
  </div>
  <div class="landing-description">
    <h1>WHAT I'M ABOUT</h1>
  </div>
</div>
<div class="landing-banner">
</div>
<div class="container">
  <div class="row" style="margin-bottom: 100px !important;">
    <div class="landing-description-btn col-lg-12 col-md-12 col-sm-12">
    <button type="button" class="btn btn-primary btn-lg"><h2>LEARN MORE ABOUT ME</h2></button>
    </div>
  </div>
  <div class="stamp-underline">
    <div class="stamp"></div>
  </div>
  <div class="landing-description">
    <h1>TESTIMONIALS</h1>
  </div>
</div>
<div class="testimonials-banner">
  <div class="container">
    <div class="card">
      <div class="card-body">
        “Yoga classes allow me a sense of peace and joy. Eileen is inspiring and balanced, with insightful wisdom and dynamic encouragement. A wonderful teacher. Always considerate of her students. I always look forward to her yoga class.” <strong>- Lien Hoang</strong>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        “I started practicing yoga with a small group of YouTube yoga teachers and first met Eileen when I decided to end my purely solo yoga-experience and try out a public class. Eileen was both patient and welcoming, which has made her weekend group classes something I look forward to attending. I also ended up scheduling some one-on-one sessions to address my concerns that my solo-with-YouTube-time had helped me habituate bad habits that I wanted to identify and address. The one-on-one sessions were a great opportunity to ask specific questions about poses, breathing, and philosophy without feeling like I was disrupting a group and to focus specifically on areas that I was interested in. It’s been refreshing to practice yoga with someone who is at once full of practical knowledge, positive energy and has a willingness to share both. Highly recommended!” <strong>- Brian Elliott</strong>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        “There are so many yoga teachers out there these days.  How can I distinguish a good one?  I found one today!   After the first 1-hour lesson, I decided she is the best and the yoga instructor I have been looking for.  Why?  She is patient, articulate, authentic, expressive, caring and passionate in her teaching… I feel all of the above when I had my yoga sessions with Eileen Atlasov.  At the end of her classes, I walked away with what I wanted when I walked into the class… peacefulness, calmness, relaxation and a clear mind.  Thank, Eileen… You are the Best!” <strong>- Maisy Young</strong>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        “Your yin yoga class is so relaxing and fun. Flexibility has always been my challenge, even since adolescence and these classes keep me limber.. Thanks.” <strong>- Dan Aoki</strong>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        “I had initially met Eileen, who was doing weekend "Hatha Yoga in the Park" sessions every Saturday and Sunday morning.  I am an early riser, and I tried to go both mornings, other than when I was traveling.  I have always loved Hatha Yoga, which helps you to focus on your technique and to hold positions.  Eileen was an excellent coach for all of us, and I knew that attending regular yoga, in addition to my usual hiking and Pilates, was really helping me.  At 70 years old, I wanted to maintain my strength, balance, and flexibility.  Yoga is an excellent practice to support all 3 of those goals.  Ten years previously, I was diagnosed with celiac disease, and it had negatively affected my bone density due to not digesting my food.  So, another obvious goal with yoga is to help with my osteoporosis and increase my bone density.  To help with that, Eileen advised me to switch to plant-based calcium, which is more easily digested, which I happily did. In addition to my weekend yoga, I signed up with weekly one-on-one yoga sessions with Eileen.  We mostly did Hatha yoga, although we occasionally did some restorative when I needed it.  She really helped me to be more calm and focus, and I knew I was increasing my strength and flexibility.  I'm still working on the balance, which is tough for me, but I will hopefully get there.  After several months with Eileen, I fell at home and severely broke my wrist.  I obviously couldn't do Hatha, so instead we did Restorative yoga, and as my strength increased we added more poses so I could continue to work on my yoga goals.  She was very patient with me and knew alternative positions I could use when I couldn't do others.  Spending quality yoga time with her enriched and strengthened me, and I am truly grateful for her guidance and calming mantras and meditations.  She is truly an inspiration.

        Much thanks, Eileen, for everything!” <strong>- Lesley Birch</strong>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        “Yoga classes allow me a sense of peace and joy. Eileen is inspiring and balanced, with insightful wisdom and dynamic encouragement. A wonderful teacher. Always considerate of her students. I always look forward to her yoga class.” <strong>- Lien Hoang</strong>
      </div>
    </div>
  </div>
</div>



