<div class="landing-banner">
</div>
<div class="newsletter">
  <h1>SIGN UP FOR MONTHLY EMAILS!</h1>
  <div class="email-form">
    <div class="subscribe">
      <h1>Subscribe</h1>
    </div>
    <input class="form-control form-control-sm" type="text" placeholder="email" style="right: 0 !important; position: absolute !important; width: 482px !important; height: 100% !important;">
  </div>
</div>
<div class="container">
  <div class="banner-quote">
    <p>“Even if no one else believes in you, I want you to know, that I believe in you and I trust you to find your way home. How could it be otherwise? For you are a divines emanations of God.”</p>
  </div>
</div>

