<div class="page-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center;">
      <h2 style="letter-spacing: 3px;">YOGA & FITNESS</h2>
    </div>
    <div class="white-stamp-underline">
      <div class="white-stamp"></div>
    </div>
    <div class="row" style="display: flex; justify-content: center; margin-top: 5vw;">
      <h2 style="letter-spacing: 3px;">THE BREAD AND BUTTER FOR GETTING IN SHAPE</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="display: flex; justify-content: center; margin-top: 50px;">
    <div class="title">
      <h1 style="letter-spacing: 3px;"><strong>MY YOGA BACKGROUND</strong></h1>
    </div>
  </div>
  <div class="row" style="display: flex; justify-content: center; margin-top: 50px;">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="landing-card1" style="text-align: center;"></div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <p>My yoga journey began at the age of 9 years old. I began by practicing Bikram Yoga with my mother about 3 times/week.</p>
      <p>Having a yoga practice throughout my teenage years gave me the ability to learn so much more about my mind and body. I was able to concentrate better at school, and became so much more in tune with myself. Once I turned 18 and left to live abroad, I became more and more attracted to Hatha Yoga.</p>
      <p>I also dived into the world of mindfulness and meditation, which gave me the tools to take my practice off the mat and apply yoga to every part of my life.</p>
      <p>In early 2016 I received my 200 hour Hatha Yoga Teaching Certification at the Sivananda Ashram in Madurai, India. I was 19 years old at the time, and my passion for yoga grew FAST. In June of 2018, I because a certified children's yoga teacher, and then in July I became a certified Yin yoga teacher under Bernie Clark. </p>
    </div>
  </div>
  <div class="stamp-underline" style="margin-top: 50px;">
    <div class="stamp"></div>
  </div>
  <div class="row" style="display: flex; justify-content: center; margin-top: 100px; margin-bottom: 50px;">
    <div class="title">
      <h1 style="letter-spacing: 3px;"><strong>YOGA OFFERINGS</strong></h1>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>I provide 60-90 minute at-home private yoga classes. If you don't have enough time or feel self-conscious in a studio setting, I would be happy to work with you in the comfort of your own home. You would receive my undivided attention and we would focus on specific aches, pains, and internal/external ailments you might be experiencing. We can also focus on aspects of yoga like flexibility, strength, yoga fundamentals, balance, or inversions.
      </p>
      <p>Having a consistent yoga practice since childhood has been the biggest gift in my life and I want to share that gift with you!</p>
    </div>
  </div>
  <div class="row" style="display: flex; justify-content: center;">
    <div class="text-center col-sm-12 col-md-6 col-lg-6">
      <div class="title">
        <h1 style="letter-spacing: 3px;"><strong>ONE ON ONE YOGA/MEDITATION</strong></h1>
      </div>
      <p>I provide 60-90 minute at-home private yoga lessons. If you don't have enough time or feel self-conscious in a studio setting, I would be happy to work with you in the comfort of your own home. You would receive my undivided attention and we would focus on specific aches, pains, and internal/external ailments you might be experiencing. We can also focus on your goals which might be flexibility, strength, yoga fundamentals, balance, or inversions.
      </p>
    </div>
    <div class="text-center col-sm-12 col-md-6 col-lg-6">
      <div class="title">
        <h1 style="letter-spacing: 3px;"><strong>PRIVATE CHILDREN YOGA</strong></h1>
      </div>
      <p>In addition to my public preschool classes, I offer one-one at-home children's yoga practices as well as group events such as birthday parties and weekly family yoga. I absolutely love working with children ages 3-7, and have seen such magic happen from just 20 minutes of yoga for them. I am comfortable teaching up to 12 childrens at a time.
      </p>
    </div>
  </div>
  <div class="row" style="display: flex; justify-content: center; margin-top: 50px; margin-bottom: 50px;">
    <div class="title">
      <h1 style="letter-spacing: 3px;"><strong>SCHEDULE</strong></h1>
    </div>
  </div>
  <table class="table table-dark" style="align-items: center; text-align: center !important; margin-bottom: 50px !important;">
    <tbody>
      <thead>
          <tr>
            <th scope="col">DOW</th>
            <th scope="col">Time:</th>
            <th scope="col">Location:</th>
          </tr>
        </thead>
      <tr>
        <td>Mon.</td>
        <td>8:30-9:30pm</td>
        <td>Stanford Campus, AOERC - Hatha Yoga</td>
      </tr>
      <tr>
        <td>Weds.</td>
        <td>6:15-7:30pm</td>
        <td>Yoga at Cindy’s - Yin Yoga</td>
      </tr>
      <tr>
        <td>Fri.</td>
        <td>12-1pm</td>
        <td>Bomitra Yoga, Mountain View - Yin Yoga</td>
      </tr>
    </tbody>
  </table>
  <div class="title">
    <h1 style="letter-spacing: 3px; display: flex; justify-content: center;"><strong>GROUP HATHA YOGA TESTIMONIAL</strong></h1>
  </div>
  <div class="wrapper" style="display: flex; justify-content: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/AP0ZtixUNwk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="banner-quote" style="margin-bottom: 200px !important;">
    <p style="margin-top: 100px; ">“The physical practice of yoga gifts us in healing so many different internal and external ailments that we experience daily due to bad posture, lack of movement, stress, and diet. The spiritual aspect of yoga enables us to develop alignment between our mind, body, and breath. It reminds us that we already possess everything we need in order to take better care of ourselves. It brings us into the present moment which can alleviate emotions such as depression, anxiety, and stress.” <strong>- Eileen Atlasov</strong></p>
  </div>
</div>

<div class="container">
  <div class="stamp-underline" style="margin-top: 50px;">
    <div class="stamp"></div>
  </div>
  <div class="landing-description">
    <div class="title">
      <h1 style="letter-spacing: 3px;"><strong>TESTIMONIALS</strong></h1>
    </div>
  </div>
</div>

<div class="yoga-testimonials-banner">
  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" id="slide1">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="landing-description col-lg-4 col-md-4 col-sm-12" style="margin-top: 0px;">
                  <div class="testimonial-photo-lesley" style="text-align: center;"></div>
                </div>
                <div class="landing-description col-lg-8 col-md-8 col-sm-12" style="margin-top: 0px;">
                  <p>I had initially met Eileen, who was doing weekend "Hatha Yoga in the Park" sessions every Saturday and Sunday morning. Eileen was an excellent coach for all of us. I was diagnosed with celiac disease, so, another obvious goal with yoga is to help with my osteoporosis and increase my bone density.</p>   

                  <p>In addition to weekend yoga, I signed up with weekly one-on-one yoga sessions with Eileen.  We mostly did Hatha yoga, although we occasionally did some restorative when I needed it.  She really helped me to be more calm and focus, and I knew I was increasing my strength and flexibility. She was very patient with me and knew alternative positions I could use when I couldn't do others. Spending quality yoga time with her enriched and strengthened me, and I am truly grateful for her guidance and calming mantras and meditations.  She is truly an inspiration.</p>

                  <p>Much thanks, Eileen, for everything!” <strong>- Lesley Birch</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" id="slide2">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="landing-description col-lg-4 col-md-4 col-sm-12" style="margin-top: 0px;">
                  <div class="testimonial-photo-emily" style="text-align: center;"></div>
                </div>
                <div class="landing-description col-lg-8 col-md-8 col-sm-12" style="margin-top: 0px;">
                  “It is clear that Eileen puts a lot of thought and care into planning each class so that it is unique and meaningful. Eileen helps you feel welcomed in her class, regardless of your yoga skill level, and will meet you where you're at. She creates an intimate class environment, where she invites you to reflect on and challenge yourself - giving you an opportunity to leave an hour later as a better person, physically and emotionally.”
                  <strong>- Emily Achburger</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" id="slide3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="landing-description col-lg-4 col-md-4 col-sm-12" style="margin-top: 0px;">
                  <div class="testimonial-photo-lien" style="text-align: center;"></div>
                </div>
                <div class="landing-description col-lg-8 col-md-8 col-sm-12" style="margin-top: 0px;">
                  “Yoga classes allow me a sense of peace and joy. Eileen is inspiring and balanced, with insightful wisdom and dynamic encouragement. A wonderful teacher. Always considerate of her students. I always look forward to her yoga class.” 
                  <strong>- Lien Hoang</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" id="slide3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="landing-description col-lg-12 col-md-12 col-sm-12" style="margin-top: 0px;">
                  “I have attended Eileen’s classes about 10 times and really enjoyed my experience.
                  Eileen conducts her classes in a tempo that is easy for beginners to follow, yet can be challenging even for seasoned practitioners like myself. The most enjoyable moments about Eileen's class for me was at the end when she gave adjustments during savasana. The adjustments made me feel super rejuvenated afterwards. For anyone that is interested, I would definitely recommend Eileen’s yoga classes.”
                  <strong>- Yos Miaaamigo</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" id="slide4">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="landing-description col-lg-4 col-md-4 col-sm-12" style="margin-top: 0px;">
                  <div class="testimonial-photo-don" style="text-align: center;"></div>
                </div>
                <div class="landing-description col-lg-8 col-md-8 col-sm-12" style="margin-top: 0px;">
                  “Your yin yoga class is so relaxing and fun. Flexibility has always been my challenge, even since adolescence and these classes keep me limber. Thanks.”
                  <strong>- Don Aoki</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
