<div class="page-banner">
  <div class="container" style="padding: 40px;">
    <div class="row" style="display: flex; justify-content: center;">
      <h1 style="text-align: center; margin-top: 200px; font-size: 40px !important; color: white !important; letter-spacing: 3px;"><strong>RESOURCES & BLOG</strong></h1>
    </div>
  </div>
</div>


