<div class="page-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center;">
      <h2 style="letter-spacing: 3px;">HEALTH COACH OFFERINGS</h2>
    </div>
    <div class="white-stamp-underline">
      <div class="white-stamp">
      </div>
    </div>
    <div class="row" style="display: flex; justify-content: center; margin-top: 5vw;">
      <h2 style="letter-spacing: 3px;">GET FAMILIAR WITH THE PROGRAMS I OFFER</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="display: flex; justify-content: center; margin-top: 50px;">
    <div class="title">
      <h1 style="letter-spacing: 3px;"><strong>WHAT IS A HEALTH COACH?</strong></h1>
    </div>
  </div>
  <div class="row" style="display: flex; justify-content: center; margin-top: 50px;">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="landing-card1" style="text-align: center;"></div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <p>Holistic health coaches help clients make positive and lasting changes to their health. The coach guides clients through the process of creating a vision for their health and well-being, developing a healthy mindset and healthy habits, and encouraging them every step of the way until they accomplish their goals.  </p>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);">
      <div class="newsletter" style="background-image: none !important;">
        <div class="row" style="display: flex; justify-content: center;">
          <div class="newsletter-title">
            <p style="letter-spacing: 3px;"><strong>SIGN UP FOR MOTIVATIONAL EMAILS!</strong></p>
          </div>
        </div>
        <div class="row" style="display: flex; justify-content: center;">
          <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
              <label for="email1" class="sr-only">email@example.com</label>
              <input type="email" class="form-control" id="inputPassword2" placeholder="email@example.com">
            </div>
            <button type="submit" class="btn btn-light mb-2">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="landing-description">
  <div class="title">
    <h1 style="letter-spacing: 3px;"><strong>TESTIMONIALS</strong></h1>
  </div>
</div>
<div class="testimonials-banner">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <p>“A year ago, I signed up with Eileen for a 6-mo Health Restoration.  She and I set up goals and regular meeting dates to review my goals and progress, as well as set new goals.  She definitely drove me in a positive direction, making sure I did my "homework".  I began and ended my holistic health transformation very positively, knowing that we had created long-lasting changes for my health and well being.</p>

        <p>I began my sessions by incorporating her suggestion to keep a gratitude journal, which truly helped me to focus on the positives in my life.  I didn't do it every day, but tried to make an effort several times/week.  In addition to my gratitude list, she advised me to have separate sections on my dreams and affirmations.  To keep me focused on the positives, in time I created a section on "what I love about me", which is certainly not something I would normally focus on.  With everything in my life, I found the journaling to be very reformative.  During the 6-mo timeframe, Eileen regularly sent me links to articles and videos to review. We really focused on my diet, as I wanted to eat vegetables more regularly and decrease my dairy and meat consumption.  I wasn't going to go full vegan because I love eggs, but I wanted to make changes.  I successfully transitioned to almond milk and creamer for my coffee, drinking more tea and less coffee, and making vegetarian meals that were satisfying and provided lots of leftovers.  She came to my house to help me cook beans using my new Instant Pot, and we later made almond milk "ice cream" that was truly good and much healthier than the real thing.  I loved spending time with her in my kitchen and enjoying the fruits/vegetables of our labors.  She would also bring me little vegan goodies, like Bliss Balls, which I loved.  Between the dietary changes and regular exercise I lost about 8# and felt better and healthier in my clothes.</p>

        <p>I truly appreciated everything that Eileen helped me with.  I am not typically very adventurous with food, but I learned to love things I hadn't previously tried and to make positive changes in my diet.  She is truly such an inspiration to me for such a young woman.  I am very grateful for Eileen's guidance and support and I would highly recommend her to anyone who wanted to make positive health and dietary changes."</p>
         <strong>- Lesley Birch</strong>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#myModal').clearQueue();
    setTimeout(function() {
      console.log("hello");
      $('#myModal').modal('show');
    }, 10000); // milliseconds
  });
</script>
