.landing-banner {
  height: 778px;
  width: 100%;
  background-image: asset-url("banner1.jpg");
  background-size: cover;
  background-size: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin-bottom: 0;
  color: white;
}

.landing-banner h1 {
  font-family: Nunito !important;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: normal !important;
  font-size: 40px !important;
  text-align: left !important;
  margin-bottom: 30px !important;
}

.landing-banner h1:hover {
  color: white !important;
  transition: all 0.9s ease 0s;
}
