.page-banner {
  margin-top: -200px;
  height: 700px;
  width: 100%;
  background-image: linear-gradient(rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.2)), asset-url("yoga_cover.jpg");
  background-size: cover;
  background-size: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin-bottom: 0;
  color: white;
}

.landing-banner {
  height: 778px;
  width: 100%;
  background-image: asset-url("banner1.jpg");
  background-size: cover;
  background-size: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin-bottom: 0;
  margin-top: -75px;
  color: white;
}

.landing-banner h1 {
  font-family: Nunito !important;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: normal !important;
  font-size: 30px !important;
  text-align: left !important;
  margin-bottom: 30px !important;
}

.landing-banner h1:hover {
  color: white !important;
  transition: all 0.9s ease 0s;
}

.testimonials-banner {
  background-image: asset-url("testimonials-bg.jpg");
  background-size: cover;
  background-size: center;
  height: auto;
  width: 100%;
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;
}
