.subscribe {
  left: 0;
  position: absolute;
  width: 12vw;
  height: 56px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  background: #8794F2;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 0 !important;
}

.subscribe h1 {
  color: white !important;
  margin: 0 !important;
}

.landing-description-btn {
  display: flex;
  justify-content: center;
}

.landing-description-btn h2 {
  font-size: 30px !important;
  text-align: center;
  margin-top: 20px;
  font-family: "Nunito" !important;
  margin-bottom: 20px !important;
  color: white;
}

.landing-description-btn .btn {
  margin-top: 50px !important;
  font-style: "Nunito" !important;

}
