.banner-quote {
  position: relative;
  width: 998px;
  height: 120px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner-quote p {
  font-family: "Nunito" !important;
  font-style: italic !important;
  font-weight: none !important;
  line-height: normal !important;
  font-size: 30px !important;
  text-align: center !important;
  color: #000000 !important;
}
