.banner-quote {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner-quote p {
  font-family: "Nunito" !important;
  font-style: italic !important;
  font-weight: none !important;
  line-height: normal !important;
  font-size: 30px !important;
  text-align: center !important;
  color: #000000 !important;
}

.card {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%ffffff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%ffffff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.insta-card {
  background-image: url("https://scontent-sjc3-1.cdninstagram.com/vp/e33ef7cecdc747f1a68c4c9c0a79dec8/5C6E9B14/t51.2885-15/e35/p480x480/36148612_901348460053315_8310452626143576064_n.jpg");
  height: 250px;
  width: 100%;
  margin-bottom: 50px !important;
  background-position: 50% 40%;
  background-size: cover;
  background-size: center;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
}

.insta-card2 {
  background-image: url("https://scontent-sjc3-1.cdninstagram.com/vp/da4e7f764aaf507762033d46efbc6a4d/5C674C0E/t51.2885-15/e35/s480x480/37943853_284412485447616_3209200439744528384_n.jpg");
  height: 250px;
  width: 100%;
  margin-bottom: 50px !important;
  background-position: 50% 40%;
  background-size: cover;
  background-size: center;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
}

.insta-card3 {
  background-image: url("https://scontent-sjc3-1.cdninstagram.com/vp/9459a7962eb0315f86f56ce56c8e0ab0/5C4BF6FA/t51.2885-15/e35/p480x480/37211428_266875680765017_486706823559118848_n.jpg");
  height: 250px;
  width: 100%;
  margin-bottom: 50px !important;
  background-position: 50% 40%;
  background-size: cover;
  background-size: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  margin: auto;
}

.insta-card4 {
  background-image: url("https://scontent-sjc3-1.cdninstagram.com/vp/a11ff1182d3b570449a9c3d882ddae4c/5C65E290/t51.2885-15/e35/p480x480/26180878_400721743717484_1531271689176875008_n.jpg");
  height: 250px;
  width: 100%;
  margin-bottom: 50px !important;
  background-position: 50% 40%;
  background-size: cover;
  background-size: center;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
}

.testimonial-photo-vicky {
  background-image: asset-url("vicky");
  background-size: cover;
  background-position: center;
  height: 300px;
  padding-top: 20px;
  border-left: solid 10px;
  border-right: solid 10px;
  border-color: white;
}

.testimonial-photo-lien {
  background-image: asset-url("Lien_Hoang");
  background-size: cover;
  background-position: center;
  height: 300px;
  padding-top: 20px;
  border-left: solid 10px;
  border-right: solid 10px;
  border-color: white;
}

.testimonial-photo-lesley {
  background-image: asset-url("Lesley");
  background-size: cover;
  background-position: center;
  height: 300px;
  padding-top: 20px;
  border-left: solid 10px;
  border-right: solid 10px;
  border-color: white;
}

.testimonial-photo-brian {
  background-image: asset-url("Brian");
  background-size: cover;
  background-position: center;
  height: 300px;
  padding-top: 20px;
  border-left: solid 10px;
  border-right: solid 10px;
  border-color: white;
}

.testimonial-photo-emily {
  background-image: asset-url("Emily");
  background-size: cover;
  background-position: center;
  height: 300px;
  padding-top: 20px;
  border-left: solid 10px;
  border-right: solid 10px;
  border-color: white;
}

.testimonial-photo-don {
  background-image: asset-url("Don");
  background-size: cover;
  background-position: center;
  height: 300px;
  padding-top: 20px;
  border-left: solid 10px;
  border-right: solid 10px;
  border-color: white;
}

.pop-up-picture {
  background-image: asset-url("pop_up_img");
  margin-bottom: 40px;
  border-right: 0 !important;
  border-left: 0 !important;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  padding-top: 20px;
  border-left: solid 10px;
  border-right: solid 10px;
  border-color: white;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.landing-card1 {
  background-image: asset-url("yoga");
  background-size: cover;
  background-position: center;
  height: 450px;
  padding-top: 20px;
  border-left: solid 10px;
  border-right: solid 10px;
  border-color: white;
}

.landing-card2 {
  background-image: asset-url("health");
  background-size: cover;
  background-position: center;
  height: 450px;
  padding-top: 20px;
  border-left: solid 10px;
  border-right: solid 10px;
  border-color: white;
}

.landing-card3 {
  background-image: asset-url("doula");
  background-size: cover;
  background-position: center;
  height: 450px;
  padding-top: 20px;
  border-left: solid 10px;
  border-right: solid 10px;
  border-color: white;
}

.landing-description {
  margin-top: 100px;
  position: relative;
}

.landing-description h1 {
  text-align: center;
}

.landing-description p {
  text-align: center;
  font-size: 18px;
}

.title {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.newsletter-title {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.program-card {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  width: 100%;
  height: auto;
  padding-top: 20px;
  border-left: solid 10px;
  border-right: solid 10px;
  border-color: white;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.program-card h1, li, h2 {
  color: white !important;
}

.program-card2 {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  width: 100%;
  height: auto;
  padding-top: 20px;
  border-left: solid 10px;
  border-right: solid 10px;
  border-color: white;
  padding: 30px;
  margin-bottom: 20px;
}

.program-card2 h1, li, h2 {
  color: white !important;
}

.stamp {
  height: 95px;
  width: 88px;
  background-image: asset-url("new_symbol.png");
  background-position: 50% 40%;
  background-size: cover;
  background-size: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -40px;
}

.stamp-underline {
  border-bottom: solid 1px;
  border-color: black;
  display: flex;
  justify-content: center;
}


.quote {
  background-image: linear-gradient(rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.2)), asset-url("quote_cover");
  background-size: cover;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 50% 40%;
}

.quote h2 {
  font-family: "Nunito" !important;
  font-style: italic !important;
  font-weight: none !important;
  line-height: normal !important;
  font-size: 30px !important;
  text-align: center !important;
  color: white !important;
}

.white-stamp-underline {
  border-bottom: solid 1px;
  border-color: white;
}

@media (max-width: 1000px) {
  .white-stamp-underline {
    margin-bottom: 100px;
  }

  .input {
    width: 200px;
  }
}

.white-stamp {
  height: 95px;
  width: 88px;
  background-image: asset-url("stamp.png");
  background-size: cover;
  background-size: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -47px;
}
