.footer {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15em;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-bottom: 3em;
  border-color: #45D9EF;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.footer-links {
  display: flex;
  align-items: center;
  color: white;
}

.footer-links a {
  color: #111;
  text-decoration: none;
  font-size: 24px;
  padding: 30px 10px;
  margin-left: 3vw;
  margin-right: 3vw;
}
.footer-links a:hover {
  opacity: 1;
  color: white;
  transition: all 0.5s ease 0s;
}

.instagram-footer {

  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.instagram-footer h1 {
  letter-spacing: 3px;
}
