.newsletter {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px 50px;
  background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
}

.newsletter .row {
  margin-right: 0px;
  margin-left: 0px;
}

.newsletter p {
  font-family: "Handlee" !important;
  color: white !important;
  letter-spacing: 3px;
}

.newsletter h1 {
  text-align: center;
}

.email-form {
  position: relative;
  width: 47vw;
  height: 56px;
}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: #BF7474;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: #BF7474;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
