.newsletter {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px 50px;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  padding-top: 20px;
  padding-bottom: 20px;
}

.newsletter h1 {
  text-align: center;
}

.email-form {
  position: relative;
  width: 47vw;
  height: 56px;
}
