.newsletter {
  position: relative;
  width: 100%;
  display: inline-grid;
  align-items: center;
  justify-content: space-evenly;
  height: 138px;
  padding: 0px 50px;
  background: #45D9EF;
  border-color: #45D9EF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.newsletter h1 {
  text-align: center;
}

.email-form {
  position: relative;

  width: 665px;
  height: 56px;
}
