<div class="page-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center;">
      <h2 style="letter-spacing: 3px;">WHAT I'M ABOUT</h2>
    </div>
    <div class="white-stamp-underline">
      <div class="white-stamp"></div>
    </div>
    <div class="row" style="display: flex; justify-content: center; margin-top: 5vw;">
      <h2 style="letter-spacing: 3px;">BRINGING PEOPLE CLOSER TO THEIR FITNESS GOALS</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="display: flex; justify-content: center; margin-top: 50px;">
    <div class="title">
      <h1 style="letter-spacing: 3px;"><strong>MY BACKGROUND</strong></h1>
    </div>
  </div>
  <div class="row" style="display: flex; justify-content: center; margin-top: 50px;">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="landing-card3" style="text-align: center;"></div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <p><strong>Hello Beautiful!</strong> My name is Eileen and I am a certified holistic health coach, yoga teacher, personal trainer, and above all a student of life.</p>
      <p>I was born and raised in California, then - at the age of 18 - left my hometown to attend an educational gap year program in Israel.</p>
      <p>This led to several solo backpacking trips around India and Southeast Asia, where I was able to deepen my knowledge of and experience in yoga, meditation, diet, and self exploration.</p>
      <p>During this time is when it became clear to me that my purpose in this life is to empower and assist people in healing through food, movement, and mindfulness.</p>
      <p>My education took an unconventional route and I began to crave more knowledge from yoga teachers, movement specialists, alternative medicine doctors, books, and podcasts. Self-study allows me to gather insight from SO many different sources in order to then digest the information, piece it together, and help others the best way I know how. Science is constantly shifting so allowing my own experience, knowledge, and beliefs to evolve with it is extremely important to me.</p>
    </div>
  </div>
  <div class="stamp-underline" style="margin-top: 50px;">
    <div class="stamp"></div>
  </div>
  <div class="row" style="display: flex; justify-content: center; margin-top: 100px; margin-bottom: 100px;">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h1 style="text-align: center; letter-spacing: 3px; margin-bottom: 50px !important;"><strong>WHY I DECIDED TO BECOME A HOLISTIC HEALTH COACH:</strong></h1>
      <p>As a child and young adult, I really disliked being in the presence of doctors. I found that most of them made me feel completely disempowered and reliant on their knowledge.
      I grew up with parents that taught me many alternative ways of curing and preventing disease through natural methods. Being the empathetic person that I am, I enjoyed taking care of my family and friends, and was ALWAYS the first person to have a solution to every physical and mental obstacle people who were close to me struggled with.
      </p>
      <p>Once I realized that the intentions behind western medicine is NOT disease prevention, and instead symptom suppression, I felt called to find a way to create a career out of helping people take control of their of their own healing process.</p>
      <p>That is when I enrolled in the Institute of Integrative Nutrition (IIN) to become a certified holistic health coach. During the year-long program, I learned critical information about food and lifestyle choices, and how to cater to each individuals’ needs in the best way possible.</p>
      <p>It seems we have lost touch of the power we have over our own health and wellbeing, and have forgotten the power of taking small, simple, action steps every day. I am here to empower you… to help you help yourself.</p>
    </div>
  </div>
</div>

<div class="quote">
  <h2>“The secret of your future is hidden in your daily routine.”</h2>
</div>


